.App {
  text-align: center;
  font-family: 'Baloo Tamma 2', cursive;
  font-size: 15px;
}
.titleMovieList{
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.display-5{
  margin-top: -48px;
  position: absolute;
  padding-left: 678px;
  color: white;
  font-weight: bolder;
}
.iconNext{
  position: absolute;
}

.loading{
  margin-top: 200px;
}

.detailMovie{
  margin-top: 100px;
  text-align: left;
}
.imgDetail{
  width: 405px;
  border-radius: 20px;
}
.imageList::after{
  background-size: cover;
  /* background-color: black; */
  width: max-content;
  position: absolute;
  /* font-variant-position: normal; */
}
.color-overlay{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#ffbfbf0d, black);
  position: absolute;
  border-radius: 10px;
  opacity: 0.4  ;
}
.navbar-movie{
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  padding-left: 50px;
}
.detailCard{
  text-align: left;
}
